@font-face {
  font-family: 'Sedan';
  src: url('../public/Sedan/Sedan-Regular.ttf');
}

.use-sedan {
  font-family: 'Sedan', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.social-icons {
  transition: transform 0.4s;
}

.social-icons:hover {
  transform: translateY(-4px);
  transition: transform 0.4s;
}

.onyx {
  background-color: #303633;
}

.aquamarine {
  background-color: #8BE8CB;
}

.cadet-gray {
  background-color: #7EA2AA;
}

.cool-gray {
  background-color: #888DA7;
}

.onyx-text {
  color: #303633;
}

.aquamarine-text {
  color: #8BE8CB;
}

.cadet-gray-text {
  color: #7EA2AA;
}

.cool-gray-text {
  color: #888DA7;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}

.projects {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 100vh;
}

.about-me {
  position: absolute;
  top: 200vh;
  width: 100%;
  height: 100vh;
}

.work-experience {
  position: absolute;
  top: 300vh;
  width: 100%;
  height: 100vh;
}

.rocket-league {
  position: absolute;
  top: 400vh;
  width: 100%;
  height: 100vh;
}